{% extends 'product/base.html' %}
{% load crispy_forms_tags %}
{% block head_title %}
  Edit this Product
{% endblock %}
{% block main_area %}
    <div class="container my-5">
        <div class="row">
            <div class="col">
                <h3 class="font-weight-light">Edit This Product</h3>
            <hr>
                <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            <div id="div_id_tags_str">
                <label for="id_tags">Tags:</label>
                <input type="text" id="id_tags" name="tags_str"
                          class="textinput textInput form-control">
            </div>
                    <br>
                <button type="submit" class="btn btn-light float-right mt-4">Submit</button>
                <a href="/product/" role="button" class="btn btn-light float-right mx-2 mt-4">Back</a>
                </form>
            </div>

        </div>
    </div>
    {{ form.media }}
{% endblock %}