#product_img{width: auto; height: auto;
max-width: 320px; min-width: 0px;
max-height: 600px; min-height: 0px;
display: block;}

#detail_img{width: auto; height: auto;
max-width: 320px; min-width: 0px;
max-height: 600px; min-height: 0px;
display: none;}

.col-md-6:hover #product_img{display: none;}

.col-md-6:hover #detail_img{display: block;}

#category_item{
}

a:hover{
color: black;
}

a:active #category_item{
color:black;
}