{% load static %}
<!-- Footer-->
        <footer class="bg-black float-bottom"
                style="width: 100%; height: 160px; object-fit: cover;
                opacity: 0.8;">
            <div class="pt-3">
            <div class="container mt-lg-3 w-50 w-xs-100 vertical-center">
                <dl class="row text-white px-5">
                    <dt class="col-lg-5 pl-lg-5 col-sm-4">Address</dt>
                    <dd class="col-lg-7 col-sm-8">Seoul Dobong Gwanghwamoon 33</dd>
                    <dt class="col-lg-5 pl-lg-5 col-sm-4">Contact</dt>
                    <dd class="col-lg-7 col-sm-8">ecommerce@gmail.com</dd>
                </dl>
            </div>
            <div class="d-none d-md-block w-100 vertical-center">
                <dl class="row text-white px-5">
                    <dt></dt>
                    <dd class="col text-center">Copyright &copy; Your Website 2022</dd>
                </dl>
            </div>
        </div>
        </footer>